@using WebApplication5.Models
@model Game
@{
    ViewBag.Title = "Create";
}
@{
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Ігра</legend>
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label"><b>Ім’я</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="editor-label"><b>Ціна</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
        </div>
        <div class="editor-label"><b>Розробник</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Producer)
        </div>
        <div class="editor-label"><b>Дата публікації</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_of_public)
        </div>
        <div class="editor-label"><b>Опис</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LongDesc)
        </div>
        <div class="editor-label"><b>Фото</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Photos)
        </div>
        <div class="editor-label"><b>Категорії </b></div>
        @{
            List<Category> categories = ViewBag.Categories;
            foreach (var c in categories)
            {
                <input type="checkbox" name="selectedСategory" value="@c.Id"
                />

                @c.Name

            }
        }
        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>
}
